<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>단어장</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <h4 style="color:red">서버에 해당 단어가 없습니다!</h4>
    {% endif %}
    {% endwith %}

    <h3>Welcome!</h3>
    단어장에 오신것을 환영합니다! <br>
    현재 DB의 단어 개수는 {{ count }}개 입니다!
    <br><br>

    <form action="/search" method="post">
        <input type="text" name="search" id="search"> <input type="submit" value="검색">
    </form>
    <br><br>
    <form action="/random_search" method="post">
        <input type="submit" value="랜덤 단어">
    </form>

    <br><br>
    <h3>단어장</h3> <input type="button" value="단어장 초기화" onclick="reset()"> <br><br>
    <ul class="list">
        
    </ul>

    <script src="./aboutlist.js"></script>
</body>

</html>