<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ word }} 단어 검색</title>
</head>
<body>
    <h3>{{ word }}의 뜻</h3>
    {{ mean }}
    <br><br>
    <input type="button" value="이 단어 단어장에 넣기" onclick="addToList('{{ word }}', '{{ mean }}')">

    <script>
        const WORD_LS = 'wordlist';
        let wordList = [];

        function init(){
            if(localStorage.getItem(WORD_LS) == null){
                localStorage.setItem(WORD_LS, JSON.stringify([]));
            }
            else{
                wordList = [localStorage.getItem(WORD_LS)];
            }
        }

        function addToList(word, mean){
            const newId = wordList.length+1;
            const wordObj = {
                word : word,
                mean : mean,
                id : newId
            }
            wordList.push(wordObj);
            localStorage.setItem(WORD_LS, JSON.stringify(wordList));
            alert("단어장에 추가하였습니다!")
        }
        init();
    </script>
</body>
</html>